<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Docente</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" th:href="@{/resources/datepicker/bootstrap-datepicker.css}">
<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}"> 


</head>
<body>
	
	<style>
	
	.text-uppercase{
		color:#23D0BC;
	}
	.form-label{
		color:#23D0BC;
	}
	.row>*{
	color:#9da0b3;
	}
	
	
	
	</style>
	
	
	<h1 class="text-center mb-4 text-uppercase">Registrar Ficha
		Inscripcion</h1>

	<div class="container border border-info">

		<form class="row g-3" method="post" action="/inscripcion/grabar">
			
			
			
			
			<div class="col-md-4">
				<strong> <label for="inputEmail4" class="form-label">Numero de Registro</label></strong>
				<input type="text" class="form-control" id="id-numero" readonly name="numero" th:value="${codigo}">
			</div>
			<div class="col-md-4">
					    <label for="inputPassword4" class="form-label">Fecha Registro</label>
					    <input type="text" class="form-control" readonly name="fecha" th:value="${fecha}">
			</div>
			
				<input type="hidden" value="0" name="idInscripcion">
			
			<h2>Datos Alumno</h2>
			<div class="col-md-4">
				<label for="inputEmail4" class="form-label">DNI</label> <input
					type="text" class="form-control" id="id-dni" name="dni">
			</div>
			<div class="col-md-4">
				<label for="inputPassword4" class="form-label">Nombre Alumno</label>
				<input type="text" class="form-control" id="id-nombre" readonly>
			</div>
			<div class="col-md-4">
				<label for="inputPassword4" class="form-label">Apellido</label> <input
					type="text" class="form-control" id="id-apellido" readonly>
			</div>
			<div class="col-md-4">
				<label for="inputEmail4" class="form-label">Fecha Nacimiento</label>
				<input type="date" class="form-control" id="id-fecNacimiento" readonly>
			</div>
			<div class="col-md-4">
				<label for="inputPassword4" class="form-label">Correo</label> <input
					type="text" class="form-control" id="id-correo">
			</div>
			<div class="col-md-4">
				<label for="inputPassword4" class="form-label">Direccion</label> <input
					type="text" class="form-control" id="id-direccion">
			</div>
			<div class="col-md-6">
				<button type="button" class="btn  btn-warning mt-3 btn-buscar" ><i class="bi bi-search"></i>&nbsp
					Alumno</button>
			</div>

			<h2>Datos Carrera</h2>
			 <div class="form-group">
				    <label for="exampleCondicion" class="form-label">Carrera</label>
				    <select class="form-select form-control" name="carrera" id="id-carrera">
					  <option value="" selected>[Seleccione Facultad]</option>
					  		<option th:each="bean:${carreras}"
									th:utext="${bean.nombre}"
									th:value="${bean.codigo}"
							    />	

					</select>
				  </div>
			<div class="col-md-4">
				<label for="inputPassword4" class="form-label">Facultad</label> <input
					type="text" class="form-control" id="id-facultad" readonly>
			</div>
			<div class="col-md-4">
				<label for="inputEmail4" class="form-label">Numero de Ciclos</label>
				<input type="text" class="form-control" id="id-ciclo" readonly>
			</div>
			<div class="col-md-4">
				<label for="inputPassword4" class="form-label">Creditos</label> <input
					type="text" class="form-control" id="id-creditos" readonly>
			</div>

			
			<div class="form-group" style="text-align: center">
				<button type="submit" class="btn btn-success"><i class="bi bi-box-seam-fill"></i>&nbsp Grabar Ficha</button>
			</div>

		</form>




	</div>
	
	
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>     
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	
	
	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		let msj;
		msj=/*[[${MENSAJE}]]*/
		toastr.success(msj, toastr.options = {
			"timeOut": "2000",
			"positionClass " : " toast-top-right ",
		});
	</script>
	
	<script>
		$(document).on("click", ".btn-buscar", function () {
			var listado=[];
			let dni,resultado;
			dni=$("#id-dni").val();
		$.get("/inscripcion/alumno", function (response) {
			
			$.each(response,function(index,item){
				listado.push(item.dni);
			});
			
			resultado=$.inArray(dni,listado);
			
			if(resultado !=-1){
				$.get("/alumno/buscar?dni="+dni,function(x){
					$("#id-nombre").val(x.nombre);
					$("#id-apellido").val(x.apellido);
					$("#id-fecNacimiento").val(x.fecNac);
					$("#id-correo").val(x.correo);
					$("#id-direccion").val(x.direccion);
					console.log(x);
				})
			}else{
				alert("no esta registrado");
			}
		})
			
		})
		
		$(document).on("change", "#id-carrera", function () {
			
			let cod;
			cod=$("#id-carrera option:selected").val();
			$.get("/carrera/buscar?codigo="+cod, function (response) {
				console.log(response);
			$("#id-facultad").val(response.facultad.nombre);
			$("#id-ciclo").val(response.ciclos);
			$("#id-creditos").val(response.creditos);
			})
		})
		
	</script>
	

	
</body>
</html>